p{
    
    color: white;
}


.jardin{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background-image:url("jardin.jpg");
    position:absolute;
    z-index: 0;
    
}

.video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    
    
}

.monet {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background-image:url("monet.jpg");
    
    
}




/*.ctn {
    
    
    margin:0;
    padding:0;
    border:none;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    height:100vw;
    width:100vh;
    
   background-image:url("flash.jpg");
    display:none;
    position:absolute;
    border: solid; 
  
    
            
      
}


.flash {
    
    width:100%;
    height:100%;
    background: pink;
    display:none;
    z-index: 4;
    
}*/


.boite {
    
    
    background-color: whitesmoke;
    margin: 20vw;
    padding : 30px;
    z-index:2;
    width:50vw;
    opacity: 0.8;
    
    
}

.titre {
    
    background-color: #617866;
    margin: 5vw;
    padding : 30px;
    z-index:2;
    width:50vw;
    opacity: 0.8;
}


.texte {
   z-index:3;
    color: black;
    padding: 30 px;
}




/*page video  */

* {
  box-sizing: border-box;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.boitesaule {
    
    position: absolute;
    background-color:#617866;
    margin: 20vw;
    padding : 30px;
    z-index:2;
    width:50vw;
    
    
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background-color:rosybrown;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
    }

    .footer {
    background-color:#617866;
    padding: 10px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

.footer_3 {
    background-color:#503778;
    padding: 10px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}



/*suite de texte*/

.suite{
    
    display:none;
}

#pause  {
    
    display:none;
}

.carrepage1 {
    
    background-color: #617866;
    width:40px;
    height:40px;
    font-size: 30px;
    text-align:center;
    display:none;
    text-decoration: none;color: white;
    font-weight: bold;    
}

.carre {
    
    background-color: #617866;
    width:40px;
    height:40px;
    font-size: 30px;
    text-align:center;
    color: white;
    font-weight: bold;
    text-decoration: none;
    
}

.carre_3 {
    
    background-color: #503778;
    width:40px;
    height:40px;
    font-size: 30px;
    text-align:center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}





